<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm">
    <p class="text-2xl">Welcome to Web Text Auditer</p>
  </div>
</header>
<main class="px-4 py-10 pb-20 sm:px-10">
  <div class="mx-auto max-w-7.5xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
